<style>
    body {
        margin: 0;
        height: 100vh;
        background: linear-gradient(to right, #f0f0f0, #dee5f6);

    }

    .masthead {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-top: 8rem !important;
        padding-bottom: 5rem !important;
    }

    .container.align-items-center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .region-select-label {
        font-size: calc(1rem + 1.5vw) !important;
        font-weight: 400;
        margin-bottom: 1.5rem;
    }

    .container.mt-5 {
        margin-top: 1.5rem !important;
    }


    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .row.mb-3 {
        flex-direction: row;
        flex-wrap: nowrap;
        max-width: 50%
    }

    @media (min-width: 765px) {
        .col-md-6 {
            flex: 0 0 auto;
            width: 100%;
        }

        .row.mb-3 {
            max-width: 98%;
        }
    }

    @media (min-width: 992px) {
        .col-lg-6 {
            width: 100% !important;
        }
    }

    .form-select {
        text-align: center;
        font-weight: 400 !important;
    }

    .btn.btn-primary {
        width: 96%;
        font-weight: 400 !important;
    }

    .display-1.lh-1.mb-3 {
        text-align: center;
        font-family: "Jua", sans-serif;
        font-weight: 400;
        font-size: 6.5vw;
        margin-bottom: 1.5rem !important
    }

    .emergencyMap {
        border: none;
        /* Remove border from iframe */
        width: 74vw;
        /* 80% of the viewport width */
        height: 53vh;
        /* 80% of the viewport height */
        border-radius: 30px;
    }

    .hidden {
        display: none;
    }

    .center {
        display: flex;
        justify-content: center;
    }

    .form-select {
        width: 100%;
    }

    #resultSection {
        margin-top: 60px;
        width: 93%;
    }

    .table_result {
        justify-content: center;
        display: flex;
        width: 100%;
    }
    .table.table-striped.table-hover .do-hyeon-regular{
        font-weight: bold;
    }

    .table.table-striped.table-hover {
        margin-top: 30px;
    }


    .video-container {
        display: flex;
        justify-content: center;
        /* 가로로 가운데 정렬 */
        align-items: center;
        /* 세로로 가운데 정렬 */
        height: 300px;
        /* 원하는 높이 */
        background: linear-gradient(to right, #f0f0f0, #dee5f6);
        /* 배경색 (필요에 따라 변경 가능) */
    }

    .video-container iframe {
        width: calc(300px * 534 / 300);
        /* 545:300 비율에 맞춘 너비 */
        height: 100%;
        /* 높이를 100%로 설정 */
    }

    .px-5 {
        padding-top: 1rem;
    }

    .text-center.bg-gradient-primary-to-secondary {
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
    }

    .h2.fs-1.text-white.mb-4 {
        font-size: 1.5rem !important;
        line-height: 1.5;
        font-weight: 400;
    }

    .col-lg-8.order-lg-1.mb-5.mb-lg-0 .container-fluid.px-5 {
        width: 70%;
        margin-top: 40px;

    }

    @media (min-width: 768px) {
        .row.gx-5 .col-md-6.mb-5 {
            flex: 0 0 auto;
            width: 90%;
        }
    }

    .text-center p {
        font-size: calc(1.3rem + 0.1vw);
        color: #6c757d !important
    }

    @media (min-width: 992px) {
        #emergencyMap {
            width: 57vw;
        }
    }

    @media (min-width: 1200px) {
        #emergencyMap {
            width: 57vw;
        }
    }
</style>




<body id="page-top">


    {% extends "base.html" %}

    {% block content %}
    <!-- Mashead header-->
    <header class="masthead">
        <div class="container mt-5">
            <h1 class="do-hyeon-regular display-4 lh-1 mb-3">실시간 의료종합 상황판</h1>
        </div>
        <div class="col-lg-6">
            <iframe class="emergencyMap" id="emergencyMap" src="{{ url_for('Emergencymap') }}"></iframe>
            <div class="container mt-5">
                <form id="myForm" action="/board" method="POST">
                    <label class="region-select-label">🔍 알고 싶은 지역을 선택해 주세요</label>
                    <div class="center">
                        <div class="row mb-3 w-100 justify-content-center">
                            <div class="col-md-6">
                                <select id="citySelect" name="city" class="form-select">
                                    <option value="">도시</option>
                                    <option value="서울특별시">서울특별시</option>
                                    <option value="부산광역시">부산광역시</option>
                                    <option value="경기도">경기도</option>
                                    <option value="광주광역시">광주광역시</option>
                                    <option value="대구광역시">대구광역시</option>
                                    <option value="세종">세종</option>
                                    <option value="강원">강원</option>
                                    <option value="인천광역시">인천광역시</option>
                                    <option value="대전광역시">대전광역시</option>
                                    <option value="전라남도">전라남도</option>
                                    <option value="경상남도">경상남도</option>
                                    <option value="경상북도">경상북도</option>
                                    <option value="충청남도">충청남도</option>
                                    <option value="충청북도">충청북도</option>
                                    <option value="울산광역시">울산광역시</option>
                                    <option value="제주">제주</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <select id="districtSelect" name="district" class="form-select">
                                    <option value="">구역</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </form>
            </div>




            <script>
                // 첫번째 드롭다운 선택되고 난 후 
                document.getElementById('citySelect').addEventListener('change', function () {
                    var city = this.value;
                    var optionsSelect = document.getElementById('districtSelect');
                    // Remove existing options except the placeholder
                    while (optionsSelect.length > 1) {
                        optionsSelect.remove(1);
                    }

                    // Add example options based on selected city
                    var exampleOptions;
                    if (city === '서울특별시') {
                        exampleOptions = [
                            { value: "강남구", text: "강남구" },
                            { value: "강동구", text: "강동구" },
                            { value: "강서구", text: "강서구" },
                            { value: "관악구", text: "관악구" },
                            { value: "광진구", text: "광진구" },
                            { value: "구로구", text: "구로구" },
                            { value: "금천구", text: "금천구" },
                            { value: "노원구", text: "노원구" },
                            { value: "도봉구", text: "도봉구" },
                            { value: "동대문구", text: "동대문구" },
                            { value: "동작구", text: "동작구" },
                            { value: "서대문구", text: "서대문구" },
                            { value: "서초구", text: "서초구" },
                            { value: "성동구", text: "성동구" },
                            { value: "성북구", text: "성북구" },
                            { value: "송파구", text: "송파구" },
                            { value: "양천구", text: "양천구" },
                            { value: "영등포구", text: "영등포구" },
                            { value: "용산구", text: "용산구" },
                            { value: "은평구", text: "은평구" },
                            { value: "종로구", text: "종로구" },
                            { value: "중구", text: "중구" },
                            { value: "중랑구", text: "중랑구" }

                        ];
                    } else if (city === '부산광역시') {
                        exampleOptions = [
                            { value: "기장군", text: "기장군" },
                            { value: "남구", text: "남구" },
                            { value: "동구", text: "동구" },
                            { value: "동래구", text: "동래구" },
                            { value: "부산진구", text: "부산진구" },
                            { value: "북구", text: "북구" },
                            { value: "사상구", text: "사상구" },
                            { value: "서구", text: "서구" },
                            { value: "수영구", text: "수영구" },
                            { value: "연제구", text: "연제구" },
                            { value: "영도구", text: "영도구" },
                            { value: "중구", text: "중구" },
                            { value: "해운대구", text: "해운대구" }

                        ];
                    } else if (city === '경기도') {
                        exampleOptions = [
                            { "value": "광명시", "text": "광명시" },
                            { "value": "광주시", "text": "광주시" },
                            { "value": "구리시", "text": "구리시" },
                            { "value": "군포시", "text": "군포시" },
                            { "value": "기흥구", "text": "기흥구" },
                            { "value": "김포시", "text": "김포시" },
                            { "value": "남양주시", "text": "남양주시" },
                            { "value": "단원구", "text": "단원구" },
                            { "value": "덕양구", "text": "덕양구" },
                            { "value": "동안구", "text": "동안구" },
                            { "value": "만안구", "text": "만안구" },
                            { "value": "부천시", "text": "부천시" },
                            { "value": "상록구", "text": "상록구" },
                            { "value": "성남시 분당구", "text": "성남시 분당구" },
                            { "value": "성남시 수정구", "text": "성남시 수정구" },
                            { "value": "성남시 중원구", "text": "성남시 중원구" },
                            { "value": "수원시 권선구", "text": "수원시 권선구" },
                            { "value": "수원시 영통구", "text": "수원시 영통구" },
                            { "value": "수원시 장안구", "text": "수원시 장안구" },
                            { "value": "수원시 팔달구", "text": "수원시 팔달구" },
                            { "value": "시흥시", "text": "시흥시" },
                            { "value": "안성시", "text": "안성시" },
                            { "value": "양주시", "text": "양주시" },
                            { "value": "양평군", "text": "양평군" },
                            { "value": "여주시", "text": "여주시" },
                            { "value": "연천군", "text": "연천군" },
                            { "value": "오산시", "text": "오산시" },
                            { "value": "의정부시", "text": "의정부시" },
                            { "value": "이천시", "text": "이천시" },
                            { "value": "일산동구", "text": "일산동구" },
                            { "value": "일산서구", "text": "일산서구" },
                            { "value": "처인구", "text": "처인구" },
                            { "value": "파주시", "text": "파주시" },
                            { "value": "평택시", "text": "평택시" },
                            { "value": "포천시", "text": "포천시" },
                            { "value": "화성시", "text": "화성시" }
                        ];
                    } else if (city === '광주광역시') {
                        exampleOptions = [
                            { value: "광산구", text: "광산구" },
                            { value: "남구", text: "남구" },
                            { value: "동구", text: "동구" },
                            { value: "북구", text: "북구" },
                            { value: "서구", text: "서구" }
                        ];
                    } else if (city === '대구광역시') {
                        exampleOptions = [
                            { value: "남구", text: "남구" },
                            { value: "달서구", text: "달서구" },
                            { value: "달성", text: "달성" },
                            { value: "동구", text: "동구" },
                            { value: "북구", text: "북구" },
                            { value: "서구", text: "서구" },
                            { value: "수성구", text: "수성구" },
                            { value: "중구", text: "중구" }
                        ];
                    } else if (city === '세종') {

                    } else if (city === '강원') {
                        exampleOptions = [
                            { value: "강릉시", text: "강릉시" },
                            { value: "동해시", text: "동해시" },
                            { value: "삼척시", text: "삼척시" },
                            { value: "속초시", text: "속초시" },
                            { value: "양구군", text: "양구군" },
                            { value: "영월군", text: "영월군" },
                            { value: "원주시", text: "원주시" },
                            { value: "정선군", text: "정선군" },
                            { value: "철원군", text: "철원군" },
                            { value: "춘천시", text: "춘천시" },
                            { value: "태백시", text: "태백시" },
                            { value: "평창군", text: "평창군" },
                            { value: "홍천군", text: "홍천군" },
                            { value: "화천군", text: "화천군" },
                            { value: "횡성군", text: "횡성군" }

                        ];
                    } else if (city === '인천광역시') {
                        exampleOptions = [
                            { value: "강화군", text: "강화군" },
                            { value: "계양구", text: "계양구" },
                            { value: "남동구", text: "남동구" },
                            { value: "동구", text: "동구" },
                            { value: "부평구", text: "부평구" },
                            { value: "서구", text: "서구" },
                            { value: "연수구", text: "연수구" },
                            { value: "옹진군", text: "옹진군" },
                            { value: "중구", text: "중구" }

                        ];
                    } else if (city === '대전광역시') {
                        exampleOptions = [
                            { value: "대덕구", text: "대덕구" },
                            { value: "동구", text: "동구" },
                            { value: "서구", text: "서구" },
                            { value: "유성구", text: "유성구" },
                            { value: "중구", text: "중구" }
                        ];
                    } else if (city === '전라남도') {
                        exampleOptions = [
                            { value: "강진군", text: "강진군" },
                            { value: "고흥군", text: "고흥군" },
                            { value: "곡성군", text: "곡성군" },
                            { value: "광양시", text: "광양시" },
                            { value: "구례군", text: "구례군" },
                            { value: "나주시", text: "나주시" },
                            { value: "담양군", text: "담양군" },
                            { value: "목포시", text: "목포시" },
                            { value: "무안군", text: "무안군" },
                            { value: "보성군", text: "보성군" },
                            { value: "순천시", text: "순천시" },
                            { value: "신안군", text: "신안군" },
                            { value: "여수시", text: "여수시" },
                            { value: "영광군", text: "영광군" },
                            { value: "영암군", text: "영암군" },
                            { value: "장성군", text: "장성군" },
                            { value: "장흥군", text: "장흥군" },
                            { value: "진도군", text: "진도군" },
                            { value: "해남군", text: "해남군" },
                            { value: "화순군", text: "화순군" }

                        ];
                    } else if (city === '경상남도') {
                        exampleOptions = [
                            { value: "거제시", text: "거제시" },
                            { value: "거창군", text: "거창군" },
                            { value: "고성군", text: "고성군" },
                            { value: "김해시", text: "김해시" },
                            { value: "남해군", text: "남해군" },
                            { value: "밀양시", text: "밀양시" },
                            { value: "사천시", text: "사천시" },
                            { value: "산청군", text: "산청군" },
                            { value: "양산시", text: "양산시" },
                            { value: "의령군", text: "의령군" },
                            { value: "진주시", text: "진주시" },
                            { value: "창녕군", text: "창녕군" },
                            { value: "창원시 마산합포구", text: "창원시 마산합포구" },
                            { value: "창원시 마산회원구", text: "창원시 마산회원구" },
                            { value: "창원시 성산구", text: "창원시 성산구" },
                            { value: "창원시 의창구", text: "창원시 의창구" },
                            { value: "창원시 진해구", text: "창원시 진해구" },
                            { value: "통영시", text: "통영시" },
                            { value: "함양군", text: "함양군" },
                            { value: "합천군", text: "합천군" }
                        ];
                    } else if (city === '경상북도') {
                        exampleOptions = [
                            { value: "경산시", text: "경산시" },
                            { value: "경주시", text: "경주시" },
                            { value: "고령군", text: "고령군" },
                            { value: "구미시", text: "구미시" },
                            { value: "김천시", text: "김천시" },
                            { value: "문경시", text: "문경시" },
                            { value: "상주시", text: "상주시" },
                            { value: "안동시", text: "안동시" },
                            { value: "영주시", text: "영주시" },
                            { value: "영천시", text: "영천시" },
                            { value: "예천군", text: "예천군" },
                            { value: "울릉군", text: "울릉군" },
                            { value: "울진군", text: "울진군" },
                            { value: "의성군", text: "의성군" },
                            { value: "청도군", text: "청도군" },
                            { value: "청송군", text: "청송군" },
                            { value: "포항시 남구", text: "포항시 남구" },
                            { value: "포항시 북구", text: "포항시 북구" }
                        ];
                    } else if (city === '충청남도') {
                        exampleOptions = [
                            { value: "공주시", text: "공주시" },
                            { value: "논산시", text: "논산시" },
                            { value: "당진시", text: "당진시" },
                            { value: "보령시", text: "보령시" },
                            { value: "부여군", text: "부여군" },
                            { value: "서산시", text: "서산시" },
                            { value: "서천군", text: "서천군" },
                            { value: "아산시", text: "아산시" },
                            { value: "천안시 동남구", text: "천안시 동남구" },
                            { value: "천안시 서북구", text: "천안시 서북구" },
                            { value: "청양군", text: "청양군" },
                            { value: "태안군", text: "태안군" },
                            { value: "홍성군", text: "홍성군" }
                        ];
                    } else if (city === '충청북도') {
                        exampleOptions = [
                            { value: "괴산군", text: "괴산군" },
                            { value: "영동군", text: "영동군" },
                            { value: "옥천군", text: "옥천군" },
                            { value: "제천시", text: "제천시" },
                            { value: "진천군", text: "진천군" },
                            { value: "청주시 상당구", text: "청주시 상당구" },
                            { value: "청주시 서원구", text: "청주시 서원구" },
                            { value: "청주시 청원구", text: "청주시 청원구" },
                            { value: "청주시 흥덕구", text: "청주시 흥덕구" },
                            { value: "충주시", text: "충주시" }
                        ];
                    } else if (city === '울산광역시') {
                        exampleOptions = [
                            { value: "남구", text: "남구" },
                            { value: "동구", text: "동구" },
                            { value: "북구", text: "북구" },
                            { value: "울주군", text: "울주군" },
                            { value: "중구", text: "중구" },
                        ];
                    } else if (city === '제주') {
                        exampleOptions = [
                            { value: "서귀포시", text: "서귀포시" },
                            { value: "제주시", text: "제주시" }
                        ];
                    }

                    // Add example options to the dropdown
                    exampleOptions.forEach(option => {
                        var optionElement = document.createElement('option');
                        optionElement.value = option.value;
                        optionElement.textContent = option.text;
                        optionsSelect.appendChild(optionElement);
                    });
                });

                // 두번쨰 드롭다운 선택되고 난 후
                window.onload = function () {
                    document.getElementById('districtSelect').addEventListener('change', function () {
                        var iframe = document.getElementById("emergencyMap");
                        var city = citySelect.value;
                        var district = districtSelect.value;
                        if (city && district) {
                            var selectedLocation = city + " " + district;
                            console.log(selectedLocation);
                        }

                        // 시도별 위도 경도 
                        var locations = {
                            // 서울특별시
                            "서울특별시 강남구": { lat: 37.5172363, lon: 127.0473248, zoom: 15 },
                            "서울특별시 강동구": { lat: 37.5301251, lon: 127.123761, zoom: 15 },
                            "서울특별시 강서구": { lat: 37.5509654, lon: 126.8495323, zoom: 15 },
                            "서울특별시 관악구": { lat: 37.4784065, lon: 126.9516135, zoom: 15 },
                            "서울특별시 광진구": { lat: 37.538567, lon: 127.082293, zoom: 15 },
                            "서울특별시 구로구": { lat: 37.4954856, lon: 126.887691, zoom: 15 },
                            "서울특별시 금천구": { lat: 37.456858, lon: 126.895874, zoom: 15 },
                            "서울특별시 노원구": { lat: 37.6541918, lon: 127.0567939, zoom: 15 },
                            "서울특별시 도봉구": { lat: 37.668691, lon: 127.046, zoom: 15 },
                            "서울특별시 동대문구": { lat: 37.57445, lon: 127.039821, zoom: 15 },
                            "서울특별시 동작구": { lat: 37.5124, lon: 126.9398, zoom: 15 },
                            "서울특별시 서대문구": { lat: 37.579275, lon: 126.936783, zoom: 15 },
                            "서울특별시 서초구": { lat: 37.483576, lon: 127.032747, zoom: 15 },
                            "서울특별시 성동구": { lat: 37.56349, lon: 127.036866, zoom: 15 },
                            "서울특별시 성북구": { lat: 37.589, lon: 127.0187, zoom: 15 },
                            "서울특별시 송파구": { lat: 37.514543, lon: 127.106597, zoom: 15 },
                            "서울특별시 양천구": { lat: 37.516766, lon: 126.866516, zoom: 15 },
                            "서울특별시 영등포구": { lat: 37.5267, lon: 126.8964, zoom: 15 },
                            "서울특별시 용산구": { lat: 37.533355, lon: 126.965387, zoom: 15 },
                            "서울특별시 은평구": { lat: 37.6027, lon: 126.9292, zoom: 15 },
                            "서울특별시 종로구": { lat: 37.573050, lon: 126.979189, zoom: 15 },
                            "서울특별시 중구": { lat: 37.563716, lon: 126.99778, zoom: 15 },
                            "서울특별시 중랑구": { lat: 37.6063, lon: 127.092, zoom: 15 },
                            // 부산광역시 
                            "부산광역시 기장군": { lat: 35.2448, lon: 129.222, zoom: 15 },
                            "부산광역시 남구": { lat: 35.1365, lon: 129.084, zoom: 15 },
                            "부산광역시 동구": { lat: 35.1293, lon: 129.0561, zoom: 15 },
                            "부산광역시 동래구": { lat: 35.2054, lon: 129.083, zoom: 15 },
                            "부산광역시 부산진구": { lat: 35.1629, lon: 129.055, zoom: 15 },
                            "부산광역시 북구": { lat: 35.1977, lon: 128.9926, zoom: 15 },
                            "부산광역시 사상구": { lat: 35.152, lon: 128.9909, zoom: 15 },
                            "부산광역시 서구": { lat: 35.097, lon: 129.0267, zoom: 15 },
                            "부산광역시 수영구": { lat: 35.142, lon: 129.113, zoom: 15 },
                            "부산광역시 연제구": { lat: 35.1766, lon: 129.079, zoom: 15 },
                            "부산광역시 영도구": { lat: 35.0917, lon: 129.0681, zoom: 15 },
                            "부산광역시 중구": { lat: 35.1038, lon: 129.0323, zoom: 15 },
                            "부산광역시 해운대구": { lat: 35.1631, lon: 129.1635, zoom: 15 },
                            // 대구광역시
                            "대구광역시 남구": { lat: 35.8457, lon: 128.6014, zoom: 15 },
                            "대구광역시 달서구": { lat: 35.8295, lon: 128.5323, zoom: 15 },
                            "대구광역시 동구": { lat: 35.8835, lon: 128.6354, zoom: 15 },
                            "대구광역시 북구": { lat: 35.8856, lon: 128.5821, zoom: 15 },
                            "대구광역시 서구": { lat: 35.8714, lon: 128.5592, zoom: 15 },
                            "대구광역시 수성구": { lat: 35.8580, lon: 128.6302, zoom: 15 },
                            "대구광역시 중구": { lat: 35.8665, lon: 128.5940, zoom: 15 },
                            "대구광역시 달성군": { lat: 35.7748, lon: 128.4317, zoom: 15 },
                            // 경기도 
                            "경기도 광명시": { lat: 37.4783, lon: 126.8644, zoom: 15 },
                            "경기도 광주시": { lat: 37.4292, lon: 127.2550, zoom: 15 },
                            "경기도 구리시": { lat: 37.5944, lon: 127.1293, zoom: 15 },
                            "경기도 군포시": { lat: 37.3614, lon: 126.9346, zoom: 15 },
                            "경기도 기흥구": { lat: 37.2720, lon: 127.1080, zoom: 15 },
                            "경기도 김포시": { lat: 37.6154, lon: 126.7156, zoom: 15 },
                            "경기도 남양주시": { lat: 37.6360, lon: 127.2165, zoom: 15 },
                            "경기도 단원구": { lat: 37.3236, lon: 126.8235, zoom: 15 },
                            "경기도 덕양구": { lat: 37.6331, lon: 126.8350, zoom: 15 },
                            "경기도 동안구": { lat: 37.3958, lon: 126.9634, zoom: 15 },
                            "경기도 만안구": { lat: 37.3925, lon: 126.9227, zoom: 15 },
                            "경기도 부천시": { lat: 37.5037, lon: 126.7660, zoom: 15 },
                            "경기도 상록구": { lat: 37.3025, lon: 126.8502, zoom: 15 },
                            "경기도 성남시 분당구": { lat: 37.3784, lon: 127.1142, zoom: 15 },
                            "경기도 성남시 수정구": { lat: 37.4458, lon: 127.1371, zoom: 15 },
                            "경기도 성남시 중원구": { lat: 37.4313, lon: 127.1604, zoom: 15 },
                            "경기도 수원시 권선구": { lat: 37.2577, lon: 126.9723, zoom: 15 },
                            "경기도 수원시 영통구": { lat: 37.2571, lon: 127.0463, zoom: 15 },
                            "경기도 수원시 장안구": { lat: 37.3056, lon: 127.0107, zoom: 15 },
                            "경기도 수원시 팔달구": { lat: 37.2799, lon: 127.0156, zoom: 15 },
                            "경기도 시흥시": { lat: 37.3802, lon: 126.8031, zoom: 15 },
                            "경기도 안성시": { lat: 37.0081, lon: 127.2795, zoom: 15 },
                            "경기도 양주시": { lat: 37.7853, lon: 127.0452, zoom: 15 },
                            "경기도 양평군": { lat: 37.4918, lon: 127.4874, zoom: 15 },
                            "경기도 여주시": { lat: 37.2984, lon: 127.6362, zoom: 15 },
                            "경기도 연천군": { lat: 38.0960, lon: 127.0754, zoom: 15 },
                            "경기도 오산시": { lat: 37.1499, lon: 127.0770, zoom: 15 },
                            "경기도 의정부시": { lat: 37.7381, lon: 127.0346, zoom: 15 },
                            "경기도 이천시": { lat: 37.2792, lon: 127.4427, zoom: 15 },
                            "경기도 일산동구": { lat: 37.6588, lon: 126.7672, zoom: 15 },
                            "경기도 일산서구": { lat: 37.6760, lon: 126.7289, zoom: 15 },
                            "경기도 처인구": { lat: 37.2374, lon: 127.2022, zoom: 15 },
                            "경기도 파주시": { lat: 37.7596, lon: 126.7800, zoom: 15 },
                            "경기도 평택시": { lat: 36.9920, lon: 127.1121, zoom: 15 },
                            "경기도 포천시": { lat: 37.8947, lon: 127.2002, zoom: 15 },
                            "경기도 화성시": { lat: 37.1995, lon: 126.8310, zoom: 15 },
                            // 광주광역시
                            "광주광역시 광산구": { lat: 35.1392, lon: 126.7934, zoom: 15 },
                            "광주광역시 남구": { lat: 35.1330, lon: 126.9029, zoom: 15 },
                            "광주광역시 동구": { lat: 35.1463, lon: 126.9237, zoom: 15 },
                            "광주광역시 북구": { lat: 35.1744, lon: 126.9116, zoom: 15 },
                            "광주광역시 서구": { lat: 35.1529, lon: 126.8903, zoom: 15 },
                            // 세종특별자치시
                            "세종": { lat: 36.4800, lon: 127.2890, zoom: 15 },
                            // 강원
                            "강원 강릉시": { lat: 37.7519, lon: 128.8761, zoom: 15 },
                            "강원 동해시": { lat: 37.5245, lon: 129.1140, zoom: 15 },
                            "강원 삼척시": { lat: 37.4508, lon: 129.1658, zoom: 15 },
                            "강원 속초시": { lat: 38.2070, lon: 128.5919, zoom: 15 },
                            "강원 양구군": { lat: 38.1100, lon: 127.9897, zoom: 15 },
                            "강원 영월군": { lat: 37.1831, lon: 128.4619, zoom: 15 },
                            "강원 원주시": { lat: 37.3422, lon: 127.9190, zoom: 15 },
                            "강원 정선군": { lat: 37.3804, lon: 128.6600, zoom: 15 },
                            "강원 철원군": { lat: 38.1466, lon: 127.3135, zoom: 15 },
                            "강원 춘천시": { lat: 37.8813, lon: 127.7298, zoom: 15 },
                            "강원 태백시": { lat: 37.1648, lon: 128.9857, zoom: 15 },
                            "강원 평창군": { lat: 37.3704, lon: 128.3900, zoom: 15 },
                            "강원 홍천군": { lat: 37.6970, lon: 127.8882, zoom: 15 },
                            "강원 화천군": { lat: 38.1061, lon: 127.7087, zoom: 15 },
                            "강원 횡성군": { lat: 37.4914, lon: 127.9858, zoom: 15 },
                            // 인천광역시
                            "인천광역시 강화군": { lat: 37.7460, lon: 126.4850, zoom: 15 },
                            "인천광역시 계양구": { lat: 37.5380, lon: 126.7371, zoom: 15 },
                            "인천광역시 남동구": { lat: 37.4472, lon: 126.7319, zoom: 15 },
                            "인천광역시 동구": { lat: 37.4739, lon: 126.6423, zoom: 15 },
                            "인천광역시 부평구": { lat: 37.5064, lon: 126.7211, zoom: 15 },
                            "인천광역시 서구": { lat: 37.5459, lon: 126.6763, zoom: 15 },
                            "인천광역시 연수구": { lat: 37.4103, lon: 126.6782, zoom: 15 },
                            "인천광역시 옹진군": { lat: 37.4467, lon: 126.6347, zoom: 15 },
                            "인천광역시 중구": { lat: 37.4736, lon: 126.6211, zoom: 15 },
                            // 대전광역시
                            "대전광역시 대덕구": { lat: 36.3504, lon: 127.414, zoom: 15 },
                            "대전광역시 동구": { lat: 36.3482, lon: 127.4547, zoom: 15 },
                            "대전광역시 서구": { lat: 36.3575, lon: 127.3852, zoom: 15 },
                            "대전광역시 유성구": { lat: 36.3622, lon: 127.3568, zoom: 15 },
                            "대전광역시 중구": { lat: 36.3257, lon: 127.4217, zoom: 15 },
                            // 전라남도
                            "전라남도 강진군": { lat: 34.642, lon: 126.769, zoom: 15 },
                            "전라남도 고흥군": { lat: 34.611, lon: 127.283, zoom: 15 },
                            "전라남도 곡성군": { lat: 35.281, lon: 127.291, zoom: 15 },
                            "전라남도 광양시": { lat: 34.9407, lon: 127.695, zoom: 15 },
                            "전라남도 구례군": { lat: 35.2025, lon: 127.4625, zoom: 15 },
                            "전라남도 나주시": { lat: 35.0155, lon: 126.7106, zoom: 15 },
                            "전라남도 담양군": { lat: 35.3216, lon: 126.9875, zoom: 15 },
                            "전라남도 목포시": { lat: 34.8118, lon: 126.3922, zoom: 15 },
                            "전라남도 무안군": { lat: 34.9904, lon: 126.4806, zoom: 15 },
                            "전라남도 보성군": { lat: 34.7714, lon: 127.0794, zoom: 15 },
                            "전라남도 순천시": { lat: 34.9506, lon: 127.4874, zoom: 15 },
                            "전라남도 신안군": { lat: 34.8236, lon: 126.1064, zoom: 15 },
                            "전라남도 여수시": { lat: 34.7604, lon: 127.6622, zoom: 15 },
                            "전라남도 영광군": { lat: 35.2775, lon: 126.5111, zoom: 15 },
                            "전라남도 영암군": { lat: 34.8008, lon: 126.6961, zoom: 15 },
                            "전라남도 장성군": { lat: 35.3019, lon: 126.7847, zoom: 15 },
                            "전라남도 장흥군": { lat: 34.681, lon: 126.9036, zoom: 15 },
                            "전라남도 진도군": { lat: 34.4835, lon: 126.2646, zoom: 15 },
                            "전라남도 해남군": { lat: 34.5735, lon: 126.5986, zoom: 15 },
                            "전라남도 화순군": { lat: 35.064, lon: 127.0184, zoom: 15 },
                            // 경상남도
                            "경상남도 거제시": { lat: 34.8803, lon: 128.6217, zoom: 15 },
                            "경상남도 거창군": { lat: 35.6884, lon: 127.9097, zoom: 15 },
                            "경상남도 고성군": { lat: 34.9721, lon: 128.3227, zoom: 15 },
                            "경상남도 김해시": { lat: 35.2285, lon: 128.8898, zoom: 15 },
                            "경상남도 남해군": { lat: 34.8372, lon: 127.8922, zoom: 15 },
                            "경상남도 밀양시": { lat: 35.5033, lon: 128.7466, zoom: 15 },
                            "경상남도 사천시": { lat: 35.0038, lon: 128.0647, zoom: 15 },
                            "경상남도 산청군": { lat: 35.4156, lon: 127.8738, zoom: 15 },
                            "경상남도 양산시": { lat: 35.335, lon: 129.0372, zoom: 15 },
                            "경상남도 의령군": { lat: 35.3226, lon: 128.261, zoom: 15 },
                            "경상남도 진주시": { lat: 35.1803, lon: 128.1076, zoom: 15 },
                            "경상남도 창녕군": { lat: 35.541, lon: 128.4927, zoom: 15 },
                            "경상남도 창원시 마산합포구": { lat: 35.2043, lon: 128.5667, zoom: 15 },
                            "경상남도 창원시 마산회원구": { lat: 35.2277, lon: 128.6105, zoom: 15 },
                            "경상남도 창원시 성산구": { lat: 35.218, lon: 128.6811, zoom: 15 },
                            "경상남도 창원시 의창구": { lat: 35.2834, lon: 128.6974, zoom: 15 },
                            "경상남도 창원시 진해구": { lat: 35.153, lon: 128.7106, zoom: 15 },
                            "경상남도 통영시": { lat: 34.8544, lon: 128.4331, zoom: 15 },
                            "경상남도 함양군": { lat: 35.5205, lon: 127.7258, zoom: 15 },
                            "경상남도 합천군": { lat: 35.5667, lon: 128.165, zoom: 15 },
                            // 경상북도
                            "경상북도 경산시": { lat: 35.8252, lon: 128.7415, zoom: 15 },
                            "경상북도 경주시": { lat: 35.8562, lon: 129.224, zoom: 15 },
                            "경상북도 고령군": { lat: 35.7274, lon: 128.2622, zoom: 15 },
                            "경상북도 구미시": { lat: 36.1195, lon: 128.3446, zoom: 15 },
                            "경상북도 김천시": { lat: 36.139, lon: 128.1136, zoom: 15 },
                            "경상북도 문경시": { lat: 36.5865, lon: 128.1994, zoom: 15 },
                            "경상북도 상주시": { lat: 36.4106, lon: 128.1598, zoom: 15 },
                            "경상북도 안동시": { lat: 36.5684, lon: 128.7294, zoom: 15 },
                            "경상북도 영주시": { lat: 36.8057, lon: 128.6244, zoom: 15 },
                            "경상북도 영천시": { lat: 35.9733, lon: 128.9383, zoom: 15 },
                            "경상북도 예천군": { lat: 36.655, lon: 128.4548, zoom: 15 },
                            "경상북도 울릉군": { lat: 37.4844, lon: 130.9057, zoom: 15 },
                            "경상북도 울진군": { lat: 36.9931, lon: 129.4002, zoom: 15 },
                            "경상북도 의성군": { lat: 36.3523, lon: 128.6972, zoom: 15 },
                            "경상북도 청도군": { lat: 35.6475, lon: 128.7366, zoom: 15 },
                            "경상북도 청송군": { lat: 36.4335, lon: 129.0577, zoom: 15 },
                            "경상북도 포항시 남구": { lat: 36.019, lon: 129.3435, zoom: 15 },
                            "경상북도 포항시 북구": { lat: 36.084, lon: 129.3815, zoom: 15 },
                            // 충청남도
                            "충청남도 공주시": { lat: 36.4467, lon: 127.119, zoom: 15 },
                            "충청남도 논산시": { lat: 36.1872, lon: 127.098, zoom: 15 },
                            "충청남도 당진시": { lat: 36.8926, lon: 126.629, zoom: 15 },
                            "충청남도 보령시": { lat: 36.3331, lon: 126.612, zoom: 15 },
                            "충청남도 부여군": { lat: 36.2757, lon: 126.9095, zoom: 15 },
                            "충청남도 서산시": { lat: 36.7854, lon: 126.4502, zoom: 15 },
                            "충청남도 서천군": { lat: 36.0801, lon: 126.6914, zoom: 15 },
                            "충청남도 아산시": { lat: 36.7898, lon: 127.0018, zoom: 15 },
                            "충청남도 천안시 동남구": { lat: 36.7845, lon: 127.1467, zoom: 15 },
                            "충청남도 천안시 서북구": { lat: 36.815, lon: 127.1138, zoom: 15 },
                            "충청남도 청양군": { lat: 36.4599, lon: 126.801, zoom: 15 },
                            "충청남도 태안군": { lat: 36.7454, lon: 126.2975, zoom: 15 },
                            "충청남도 홍성군": { lat: 36.601, lon: 126.6608, zoom: 15 },
                            // 충청북도
                            "충청북도 괴산군": { lat: 36.8151, lon: 127.786, zoom: 15 },
                            "충청북도 영동군": { lat: 36.1752, lon: 127.7816, zoom: 15 },
                            "충청북도 옥천군": { lat: 36.3063, lon: 127.5808, zoom: 15 },
                            "충청북도 제천시": { lat: 37.1326, lon: 128.1915, zoom: 15 },
                            "충청북도 진천군": { lat: 36.8555, lon: 127.4358, zoom: 15 },
                            "충청북도 청주시 상당구": { lat: 36.6346, lon: 127.493, zoom: 15 },
                            "충청북도 청주시 서원구": { lat: 36.6244, lon: 127.4649, zoom: 15 },
                            "충청북도 청주시 청원구": { lat: 36.6588, lon: 127.5101, zoom: 15 },
                            "충청북도 청주시 흥덕구": { lat: 36.6429, lon: 127.4256, zoom: 15 },
                            "충청북도 충주시": { lat: 36.991, lon: 127.9251, zoom: 15 },
                            // 울산광역시
                            "울산광역시 남구": { lat: 35.5383, lon: 129.337, zoom: 15 },
                            "울산광역시 동구": { lat: 35.5045, lon: 129.4171, zoom: 15 },
                            "울산광역시 북구": { lat: 35.5821, lon: 129.3615, zoom: 15 },
                            "울산광역시 울주군": { lat: 35.5207, lon: 129.2426, zoom: 15 },
                            "울산광역시 중구": { lat: 35.5663, lon: 129.3322, zoom: 15 },
                            // 제주
                            "제주 서귀포시": { lat: 33.253, lon: 126.561, zoom: 15 },
                            "제주 제주시": { lat: 33.4996, lon: 126.5312, zoom: 15 }
                        };

                        // iframe으로 메시지 보내는 역할
                        var location = locations[selectedLocation];
                        if (location) {
                            iframe.contentWindow.postMessage(location, '*');
                        }

                    });
                }

                // 페이지 리로드 방지 + 데이터 테이블
                document.getElementById('myForm').addEventListener('submit', function (event) {
                    event.preventDefault(); // 폼 제출 기본 동작 방지
                    var formData = new FormData(this);
                    fetch('/board', {
                        method: 'POST',
                        body: formData
                    })
                        .then(response => response.json())
                        .then(data => {
                            console.log('Success:', data);
                            document.getElementById('city').textContent = data.city;
                            document.getElementById('district').textContent = data.district;

                            var infoCombinedList = document.getElementById('infoCombined');
                            infoCombinedList.innerHTML = ''; // 기존 리스트 비우기

                            data.info_address.forEach(function (address, index) {
                                var row = document.createElement('tr');
                                var addressCell = document.createElement('td');
                                var hospitalCell = document.createElement('td');
                                addressCell.textContent = address;
                                hospitalCell.textContent = data.info_hospital[index];
                                row.appendChild(addressCell);
                                row.appendChild(hospitalCell);
                                infoCombinedList.appendChild(row);
                            });
                            // 데이터를 업데이트한 후 결과 섹션 표시
                            document.getElementById('resultSection').classList.remove('hidden');
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                });

            </script>

            <div class="table_result">
                <div id="resultSection" class="hidden">
                    <h2 class="do-hyeon-regular">🚨 현재 <span id="city"></span> <span id="district"> </span>지역의 응급 상황표</h2>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="do-hyeon-regular">Address</th>
                                <th class="do-hyeon-regular">Hospital</th>
                            </tr>
                        </thead>
                        <tbody class="font-alt" id="infoCombined"></tbody>
                    </table>
                </div>
            </div>
        </div>


    </header>


    

    {% block message %}
    {% endblock message %}





    <!-- Quote/testimonial aside-->
    <aside class="text-center bg-gradient-primary-to-secondary">
        <div class="container px-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-xl-8">
                    <div class="h2 fs-1 text-white mb-4">
                        {{user}}님을 위한<br>
                        응급상황 발생 시 대응요령 🧐
                    </div>
                    <!-- <img src="assets/img/tnw-logo.svg" alt="..." style="height: 3rem" /> -->
                </div>
            </div>
        </div>


    </aside>


    <!-- App features section-->
    <section id="features">
        <div class="video-container">
            <iframe src="https://www.youtube.com/embed/zE2vNmElqKc?si=Kj0sF5mYze8OHGz_&autoplay=1&mute=1"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>

        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-8 order-lg-1 mb-5 mb-lg-0">
                    <div class="container-fluid px-5">
                        <!-- <p class="text-center h3 --bs-dark">사용법</p> -->
                        <div class="row gx-5">
                            <div class="col-md-6 mb-5">
                                <!-- Feature item-->
                                <div class="text-center">
                                    <i class="bi-lungs icon-feature text-gradient d-block mb-3"></i>
                                    <h3 class="do-hyeon-regular font-alt">1. 기도 폐쇄 대응</h3>
                                    <p class="do-hyeon-regular">
                                        등 부위를 3회 두드려 기침을 유도 </br>
                                        하임리히법을 실시하여 이물질을 제거</br>
                                        성공 후 산소를 제공하고 119에 신고
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6 mb-5">
                                <!-- Feature item-->
                                <div class="text-center">
                                    <i class="bi-postcard-heart icon-feature text-gradient d-block mb-3"></i>
                                    <h3 class="font-alt">2. 응급상황별 대응</h3>
                                    <p class="do-hyeon-regular text-muted mb-0">
                                        호흡곤란: 반좌위 자세로 심리적 안정 취함</br>
                                        저혈당 쇼크: 혈당을 올릴 수 있는 음식 제공</br>
                                        골절: 척추 골절 시 움직않고 119에 신고</p>
                                </div>
                            </div>

                            <div class="col-md-6 mb-5">
                                <!-- Feature item-->
                                <div class="text-center">
                                    <i class="bi-emoji-dizzy icon-feature text-gradient d-block mb-3"></i>
                                    <h3 class="font-alt">3. 뇌졸중 대응</h3>
                                    <p class="do-hyeon-regular text-muted mb-0">119에 연락하고 의료기관으로 신속히 이송
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6 mb-5 ">
                                <!-- Feature item-->
                                <div class="text-center">
                                    <i class="bi-activity icon-feature text-gradient d-block mb-3"></i>
                                    <h3 class="font-alt">4. 심폐소생술 (CPR) 방법</h3>
                                    <p class="do-hyeon-regular text-muted mb-0">
                                        환자의 반응을 확인하고 119에 신고 </br>
                                        가슴 압박: 분당 100-120회</br> 일반인은 약 5cm 깊이로 30회</br>
                                        인공호흡: 기도 개방 후 1초 동안 숨을 불어넣기
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6 mb-5 ">
                                <!-- Feature item-->
                                <div class="text-center">
                                    <i class="bi-heart-pulse icon-feature text-gradient d-block mb-3"></i>
                                    <h3 class="font-alt">5. 자동 심장 충격기 (AED) 사용법</h3>
                                    <p class="do-hyeon-regular text-muted mb-0">전원 켜기, 패드 부착, 심전도 분석 중 접촉 금지</br>
                                        심장 충격 필요 시 버튼 누르고 심폐소생술 재개</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    {% endblock %}

</body>