<style>
    .masthead {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-top: 8rem !important;
        padding-bottom: 5rem !important;
    }

    .container.align-items-center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .display-1.lh-1.mb-3 {
        text-align: center;
        font-weight: 900;
        font-size: 6.5vw;
        margin-bottom: 1.5rem !important
    }

    .emergencyMap {
        border: none;
        /* Remove border from iframe */
        width: 80vw;
        /* 80% of the viewport width */
        height: 70vh;
        /* 80% of the viewport height */
        border-radius: 10px;
    }

    .hidden {
        display: none;
    }
</style>




<body id="page-top">

    {% extends "base.html" %}

    {% block content %}
    <!-- Mashead header-->
    <header class="masthead">
        <div class="container">
            <h1 class="display-1 lh-1 mb-3">실시간 의료종합 상황판</h1>
        </div>
        <div class="col-lg-6">
            <iframe class="emergencyMap" id="emergencyMap" src="{{ url_for('Emergencymap') }}"></iframe>

            <form id="myForm" action="/board" method="POST">
                <label for="citySelect"> 지역</label>
                <select id="citySelect" name="city">
                    <option value="">Select a city</option>
                    <option value="서울특별시">서울특별시</option>
                    <option value="부산광역시">부산광역시</option>
                    <option value="경기도">경기도</option>
                    <option value="광주광역시">광주광역시</option>
                    <option value="대구광역시">대구광역시</option>
                    <option value="세종">세종</option>
                    <option value="강원">강원</option>
                    <option value="인천광역시">인천광역시</option>
                    <option value="대전광역시">대전광역시</option>
                    <option value="전라남도">전라남도</option>
                    <option value="경상남도">경상남도</option>
                    <option value="경상북도">경상북도</option>
                    <option value="충청남도">충청남도</option>
                    <option value="충청북도">충청북도</option>
                    <option value="울산광역시">울산광역시</option>
                    <option value="제주">제주</option>

                    <!-- Add more cities as needed -->
                </select>

                <label for="districtSelct"> 구역 선택</label>
                <select id="districtSelct" name="district">
                    <!-- Placeholder option -->
                    <option value="">Select a district</option>
                </select>
                <button type="submit">Submit</button>
            </form>

            <script>
                document.getElementById('citySelect').addEventListener('change', function () {
                    var city = this.value;
                    var optionsSelect = document.getElementById('districtSelct');
                    // Remove existing options except the placeholder
                    while (optionsSelect.length > 1) {
                        optionsSelect.remove(1);
                    }

                    // Add example options based on selected city
                    var exampleOptions;
                    if (city === '서울특별시') {
                        exampleOptions = [
                            { value: "강남구", text: "강남구" },
                            { value: "강동구", text: "강동구" },
                            { value: "강서구", text: "강서구" },
                            { value: "관악구", text: "관악구" },
                            { value: "광진구", text: "광진구" },
                            { value: "구로구", text: "구로구" },
                            { value: "금천구", text: "금천구" },
                            { value: "노원구", text: "노원구" },
                            { value: "도봉구", text: "도봉구" },
                            { value: "동대문구", text: "동대문구" },
                            { value: "동작구", text: "동작구" },
                            { value: "서대문구", text: "서대문구" },
                            { value: "서초구", text: "서초구" },
                            { value: "성동구", text: "성동구" },
                            { value: "성북구", text: "성북구" },
                            { value: "송파구", text: "송파구" },
                            { value: "양천구", text: "양천구" },
                            { value: "영등포구", text: "영등포구" },
                            { value: "용산구", text: "용산구" },
                            { value: "은평구", text: "은평구" },
                            { value: "종로구", text: "종로구" },
                            { value: "중구", text: "중구" },
                            { value: "중랑구", text: "중랑구" }

                        ];
                    } else if (city === '부산광역시') {
                        exampleOptions = [
                            { value: "기장군", text: "기장군" },
                            { value: "남구", text: "남구" },
                            { value: "동구", text: "동구" },
                            { value: "동래구", text: "동래구" },
                            { value: "부산진구", text: "부산진구" },
                            { value: "북구", text: "북구" },
                            { value: "사상구", text: "사상구" },
                            { value: "서구", text: "서구" },
                            { value: "수영구", text: "수영구" },
                            { value: "연제구", text: "연제구" },
                            { value: "영도구", text: "영도구" },
                            { value: "중구", text: "중구" },
                            { value: "해운대구", text: "해운대구" }

                        ];
                    } else if (city === '경기도') {
                        exampleOptions = [
                            { "value": "광명시", "text": "광명시" },
                            { "value": "광주시", "text": "광주시" },
                            { "value": "구리시", "text": "구리시" },
                            { "value": "군포시", "text": "군포시" },
                            { "value": "기흥구", "text": "기흥구" },
                            { "value": "김포시", "text": "김포시" },
                            { "value": "남양주시", "text": "남양주시" },
                            { "value": "단원구", "text": "단원구" },
                            { "value": "덕양구", "text": "덕양구" },
                            { "value": "동안구", "text": "동안구" },
                            { "value": "만안구", "text": "만안구" },
                            { "value": "부천시", "text": "부천시" },
                            { "value": "상록구", "text": "상록구" },
                            { "value": "성남시 분당구", "text": "성남시 분당구" },
                            { "value": "성남시 수정구", "text": "성남시 수정구" },
                            { "value": "성남시 중원구", "text": "성남시 중원구" },
                            { "value": "수원시 권선구", "text": "수원시 권선구" },
                            { "value": "수원시 영통구", "text": "수원시 영통구" },
                            { "value": "수원시 장안구", "text": "수원시 장안구" },
                            { "value": "수원시 팔달구", "text": "수원시 팔달구" },
                            { "value": "시흥시", "text": "시흥시" },
                            { "value": "안성시", "text": "안성시" },
                            { "value": "양주시", "text": "양주시" },
                            { "value": "양평군", "text": "양평군" },
                            { "value": "여주시", "text": "여주시" },
                            { "value": "연천군", "text": "연천군" },
                            { "value": "오산시", "text": "오산시" },
                            { "value": "의정부시", "text": "의정부시" },
                            { "value": "이천시", "text": "이천시" },
                            { "value": "일산동구", "text": "일산동구" },
                            { "value": "일산서구", "text": "일산서구" },
                            { "value": "처인구", "text": "처인구" },
                            { "value": "파주시", "text": "파주시" },
                            { "value": "평택시", "text": "평택시" },
                            { "value": "포천시", "text": "포천시" },
                            { "value": "화성시", "text": "화성시" }
                        ];
                    } else if (city === '광주광역시') {
                        exampleOptions = [
                            { value: "광산구", text: "광산구" },
                            { value: "남구", text: "남구" },
                            { value: "동구", text: "동구" },
                            { value: "북구", text: "북구" },
                            { value: "서구", text: "서구" }
                        ];
                    } else if (city === 'daegu') {
                        exampleOptions = [
                            { value: "남구", text: "남구" },
                            { value: "달서구", text: "달서구" },
                            { value: "달성", text: "달성" },
                            { value: "동구", text: "동구" },
                            { value: "북구", text: "북구" },
                            { value: "서구", text: "서구" },
                            { value: "수성구", text: "수성구" },
                            { value: "중구", text: "중구" }
                        ];
                    } else if (city === '세종') {

                    } else if (city === '강원') {
                        exampleOptions = [
                            { value: "강릉시", text: "강릉시" },
                            { value: "동해시", text: "동해시" },
                            { value: "삼척시", text: "삼척시" },
                            { value: "속초시", text: "속초시" },
                            { value: "양구군", text: "양구군" },
                            { value: "영월군", text: "영월군" },
                            { value: "원주시", text: "원주시" },
                            { value: "정선군", text: "정선군" },
                            { value: "철원군", text: "철원군" },
                            { value: "춘천시", text: "춘천시" },
                            { value: "태백시", text: "태백시" },
                            { value: "평창군", text: "평창군" },
                            { value: "홍천군", text: "홍천군" },
                            { value: "화천군", text: "화천군" },
                            { value: "횡성군", text: "횡성군" }

                        ];
                    } else if (city === '인천광역시') {
                        exampleOptions = [
                            { value: "강화군", text: "강화군" },
                            { value: "계양구", text: "계양구" },
                            { value: "남동구", text: "남동구" },
                            { value: "동구", text: "동구" },
                            { value: "부평구", text: "부평구" },
                            { value: "서구", text: "서구" },
                            { value: "연수구", text: "연수구" },
                            { value: "옹진군", text: "옹진군" },
                            { value: "중구", text: "중구" }

                        ];
                    } else if (city === '대전광역시') {
                        exampleOptions = [
                            { value: "대덕구", text: "대덕구" },
                            { value: "동구", text: "동구" },
                            { value: "서구", text: "서구" },
                            { value: "유성구", text: "유성구" },
                            { value: "중구", text: "중구" }
                        ];
                    } else if (city === '전라남도') {
                        exampleOptions = [
                            { value: "강진군", text: "강진군" },
                            { value: "고흥군", text: "고흥군" },
                            { value: "곡성군", text: "곡성군" },
                            { value: "광양시", text: "광양시" },
                            { value: "구례군", text: "구례군" },
                            { value: "나주시", text: "나주시" },
                            { value: "담양군", text: "담양군" },
                            { value: "목포시", text: "목포시" },
                            { value: "무안군", text: "무안군" },
                            { value: "보성군", text: "보성군" },
                            { value: "순천시", text: "순천시" },
                            { value: "신안군", text: "신안군" },
                            { value: "여수시", text: "여수시" },
                            { value: "영광군", text: "영광군" },
                            { value: "영암군", text: "영암군" },
                            { value: "장성군", text: "장성군" },
                            { value: "장흥군", text: "장흥군" },
                            { value: "진도군", text: "진도군" },
                            { value: "해남군", text: "해남군" },
                            { value: "화순군", text: "화순군" }

                        ];
                    } else if (city === '경상남도') {
                        exampleOptions = [
                            { value: "거제시", text: "거제시" },
                            { value: "거창군", text: "거창군" },
                            { value: "고성군", text: "고성군" },
                            { value: "김해시", text: "김해시" },
                            { value: "남해군", text: "남해군" },
                            { value: "밀양시", text: "밀양시" },
                            { value: "사천시", text: "사천시" },
                            { value: "산청군", text: "산청군" },
                            { value: "양산시", text: "양산시" },
                            { value: "의령군", text: "의령군" },
                            { value: "진주시", text: "진주시" },
                            { value: "창녕군", text: "창녕군" },
                            { value: "창원시 마산합포구", text: "창원시 마산합포구" },
                            { value: "창원시 마산회원구", text: "창원시 마산회원구" },
                            { value: "창원시 성산구", text: "창원시 성산구" },
                            { value: "창원시 의창구", text: "창원시 의창구" },
                            { value: "창원시 진해구", text: "창원시 진해구" },
                            { value: "통영시", text: "통영시" },
                            { value: "함양군", text: "함양군" },
                            { value: "합천군", text: "합천군" }
                        ];
                    } else if (city === '경상북도') {
                        exampleOptions = [
                            { value: "경산시", text: "경산시" },
                            { value: "경주시", text: "경주시" },
                            { value: "고령군", text: "고령군" },
                            { value: "구미시", text: "구미시" },
                            { value: "김천시", text: "김천시" },
                            { value: "문경시", text: "문경시" },
                            { value: "상주시", text: "상주시" },
                            { value: "안동시", text: "안동시" },
                            { value: "영주시", text: "영주시" },
                            { value: "영천시", text: "영천시" },
                            { value: "예천군", text: "예천군" },
                            { value: "울릉군", text: "울릉군" },
                            { value: "울진군", text: "울진군" },
                            { value: "의성군", text: "의성군" },
                            { value: "청도군", text: "청도군" },
                            { value: "청송군", text: "청송군" },
                            { value: "포항시 남구", text: "포항시 남구" },
                            { value: "포항시 북구", text: "포항시 북구" }
                        ];
                    } else if (city === '충청남도') {
                        exampleOptions = [
                            { value: "공주시", text: "공주시" },
                            { value: "논산시", text: "논산시" },
                            { value: "당진시", text: "당진시" },
                            { value: "보령시", text: "보령시" },
                            { value: "부여군", text: "부여군" },
                            { value: "서산시", text: "서산시" },
                            { value: "서천군", text: "서천군" },
                            { value: "아산시", text: "아산시" },
                            { value: "천안시 동남구", text: "천안시 동남구" },
                            { value: "천안시 서북구", text: "천안시 서북구" },
                            { value: "청양군", text: "청양군" },
                            { value: "태안군", text: "태안군" },
                            { value: "홍성군", text: "홍성군" }
                        ];
                    } else if (city === '충청북도') {
                        exampleOptions = [
                            { value: "괴산군", text: "괴산군" },
                            { value: "영동군", text: "영동군" },
                            { value: "옥천군", text: "옥천군" },
                            { value: "제천시", text: "제천시" },
                            { value: "진천군", text: "진천군" },
                            { value: "청주시 상당구", text: "청주시 상당구" },
                            { value: "청주시 서원구", text: "청주시 서원구" },
                            { value: "청주시 청원구", text: "청주시 청원구" },
                            { value: "청주시 흥덕구", text: "청주시 흥덕구" },
                            { value: "충주시", text: "충주시" }
                        ];
                    } else if (city === '울산광역시') {
                        exampleOptions = [
                            { value: "남구", text: "남구" },
                            { value: "동구", text: "동구" },
                            { value: "북구", text: "북구" },
                            { value: "울주군", text: "울주군" },
                            { value: "중구", text: "중구" },
                        ];
                    } else if (city === '제주') {
                        exampleOptions = [
                            { value: "서귀포시", text: "서귀포시" },
                            { value: "제주시", text: "제주시" }
                        ];
                    }

                    // Add example options to the dropdown
                    exampleOptions.forEach(option => {
                        var optionElement = document.createElement('option');
                        optionElement.value = option.value;
                        optionElement.textContent = option.text;
                        optionsSelect.appendChild(optionElement);
                    });
                });



                // 페이지 리로드 방지 
                document.getElementById('myForm').addEventListener('submit', function (event) {
                    event.preventDefault(); // 폼 제출 기본 동작 방지
                    var formData = new FormData(this);
                    fetch('/board', {
                        method: 'POST',
                        body: formData
                    })
                        .then(response => response.json())
                        .then(data => {
                            console.log('Success:', data);
                            document.getElementById('user').textContent = data.user;
                            document.getElementById('city').textContent = data.city;
                            document.getElementById('district').textContent = data.district;

                            var infoCombinedList = document.getElementById('infoCombined');
                            infoCombinedList.innerHTML = ''; // 기존 리스트 비우기

                            data.info_address.forEach(function (address, index) {
                                var combinedText = address + ' ' + data.info_hospital[index];
                                var listItem = document.createElement('li');
                                listItem.textContent = combinedText;
                                infoCombinedList.appendChild(listItem);
                            });

                            // 데이터를 업데이트한 후 결과 섹션 표시
                            document.getElementById('resultSection').classList.remove('hidden');
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                });

            </script>

        </div>


        <div id="resultSection" class="hidden">
            <h1>Welcome, <span id="user"></span>!</h1>

            <h2>City: <span id="city"></span></h2>
            <h2>District: <span id="district"></span></h2>

            <h3>Address and Hospital Info:</h3>
            <ul id="infoCombined"></ul>
        </div>


    </header>




    {% block message %}
    {% endblock message %}










    <!-- Quote/testimonial aside-->
    <aside class="text-center bg-gradient-primary-to-secondary">
        <div class="container px-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-xl-8">
                    <div class="h2 fs-1 text-white mb-4">
                        {{user}}님!! <br>
                        실시간으로 응급 상황을 확인중입니다.
                    </div>
                    <!-- <img src="assets/img/tnw-logo.svg" alt="..." style="height: 3rem" /> -->
                </div>
            </div>
        </div>
    </aside>
    <!-- App features section-->
    <section id="features">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-8 order-lg-1 mb-5 mb-lg-0">
                    <div class="container-fluid px-5">
                        <p class="text-center h3 --bs-dark">사용법</p>
                        <div class="row gx-5">
                            <div class="col-md-6 mb-5">
                                <!-- Feature item-->
                                <div class="text-center">
                                    <i class="bi-phone icon-feature text-gradient d-block mb-3"></i>
                                    <h3 class="font-alt">Device Mockups</h3>
                                    <p class="text-muted mb-0">Ready to use HTML/CSS device mockups, no Photoshop
                                        required!</p>
                                </div>
                            </div>
                            <div class="col-md-6 mb-5">
                                <!-- Feature item-->
                                <div class="text-center">
                                    <i class="bi-camera icon-feature text-gradient d-block mb-3"></i>
                                    <h3 class="font-alt">Flexible Use</h3>
                                    <p class="text-muted mb-0">Put an image, video, animation, or anything else in the
                                        screen!</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-5 mb-md-0">
                                <!-- Feature item-->
                                <div class="text-center">
                                    <i class="bi-gift icon-feature text-gradient d-block mb-3"></i>
                                    <h3 class="font-alt">Free to Use</h3>
                                    <p class="text-muted mb-0">As always, this theme is free to download and use for any
                                        purpose!</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- Feature item-->
                                <div class="text-center">
                                    <i class="bi-patch-check icon-feature text-gradient d-block mb-3"></i>
                                    <h3 class="font-alt">Open Source</h3>
                                    <p class="text-muted mb-0">Since this theme is MIT licensed, you can use it
                                        commercially!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>




    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="/static/js/scripts.js"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>


    {% endblock %}

</body>