<style>
    .masthead-device-mockup {
        margin-top: -125%; 
    }
    .form-control{
        margin-top: 40px !important;
    }
    .btn.btn-outline-primary{
        margin-top: 40px;
    }
    .doublecheck.lead.fw-normal{  
        /* 아이디 중복일 경우 메시지 */
        color: #2937f0 !important;
        font-weight: bold !important;
    }
    .signin.btn.btn-outline-primary{
        /* sigin 버튼 */
        width: 100%;
        font-weight: bold;
    }

  
</style>


<body>
    {% extends "base.html" %}

    {% block content %}

    </div>

    <header class="masthead">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6">
                    <!-- Mashead text and app badges-->
                    <div class="mb-5 mb-lg-0 text-center text-lg-start">
                        <h1 class="display-1 lh-1 mb-3">SINGIN</h1>
                        <p class="lead fw-normal text-muted mb-5">
                            Please signin our service to provide helpful things to you
                        </p>
                        {% block message %}
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <p class="doublecheck lead fw-normal text-muted mb-5">{{messages[0]}}</p>
                        {% endif %}
                        {% endwith %}
                        {% endblock message %}
                    </div>
                </div>
        

                <!--회원 가입 -->
                <form action="{{url_for('signin_done')}}" method="get">
                    <input class="form-control" name="signin_name" id="signin_name" type="text" placeholder="Enter your name..."
                        data-sb-validations="required" />
                    <input class="form-control" name="signin_id" id="signin_id" type="text" placeholder="Enter your ID..."
                        data-sb-validations="required" />
                    <input class="form-control" name="signin_pwd" id="signin_pwd" type="password" placeholder="Enter your PW..."
                        data-sb-validations="required" />
                    <input class="form-control" name="signin_phoneNumber" id="signin_phoneNumber" type="number" placeholder="Enter your Phone number..."
                        data-sb-validations="required" />
                    <button type="submit" class="signin btn btn-outline-primary rounded-pill">Signin</button>
                </form>
                <!--  -->


                <div class="col-lg-6">
                    <!-- Masthead device mockup feature-->
                    <div class="masthead-device-mockup">
                        <svg class="shape-1 d-none d-sm-block" viewBox="0 0 240.83 240.83"
                            xmlns="http://www.w3.org/2000/svg">
                            <rect x="-32.54" y="78.39" width="305.92" height="84.05" rx="42.03"
                                transform="translate(120.42 -49.88) rotate(45)"></rect>
                            <rect x="-32.54" y="78.39" width="305.92" height="84.05" rx="42.03"
                                transform="translate(-49.88 120.42) rotate(-45)"></rect>
                        </svg><svg class="shape-2 d-none d-sm-block" viewBox="0 0 100 100"
                            xmlns="http://www.w3.org/2000/svg">
                            <circle cx="50" cy="50" r="50"></circle>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% endblock content %}



</body>

</html>