<style>
    .masthead-device-mockup {
        margin-top: -40%;
    }
</style>


<body>
    {% extends "base.html" %}



    {% block content %}



    </div>

    <header class="masthead">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6">
                    <!-- Mashead text and app badges-->
                    <div class="mb-5 mb-lg-0 text-center text-lg-start">
                        <h1 class="display-1 lh-1 mb-3">SINGIN</h1>
                        <p class="lead fw-normal text-muted mb-5">
                            Please signin our service to provide helpful things to you
                        </p>
                    </div>
                </div>


                <!--회원 가입 -->
                <input class="form-control" id="name" type="text" placeholder="Enter your name..."
                    data-sb-validations="required" />
                <input class="form-control" id="name" type="text" placeholder="Enter your ID..."
                    data-sb-validations="required" />
                <input class="form-control" id="name" type="text" placeholder="Enter your PW..."
                    data-sb-validations="required" />
                <input class="form-control" id="name" type="text" placeholder="Enter your Phone number..."
                    data-sb-validations="required" />

                <!--  -->


                <div class="col-lg-6">
                    <!-- Masthead device mockup feature-->
                    <div class="masthead-device-mockup">
                        <svg class="shape-1 d-none d-sm-block" viewBox="0 0 240.83 240.83"
                            xmlns="http://www.w3.org/2000/svg">
                            <rect x="-32.54" y="78.39" width="305.92" height="84.05" rx="42.03"
                                transform="translate(120.42 -49.88) rotate(45)"></rect>
                            <rect x="-32.54" y="78.39" width="305.92" height="84.05" rx="42.03"
                                transform="translate(-49.88 120.42) rotate(-45)"></rect>
                        </svg><svg class="shape-2 d-none d-sm-block" viewBox="0 0 100 100"
                            xmlns="http://www.w3.org/2000/svg">
                            <circle cx="50" cy="50" r="50"></circle>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% endblock content %}



</body>

</html>